/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 0%, 0%);
$color__background-main : hsl(46, 81%, 46%);
$color__background-cours : hsl(209, 100%, 91%);
$color__background-header : hsl(9, 58%, 27%);
$color__background-barre : hsl(200, 78%, 9%);
$color__background-footer : hsl(24, 88%, 27%);
$color__background-link : hsl(39, 93%, 41%);
$color__background-link-hover : hsl(0, 89%, 40%);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 91%, 50%);
$color__link__footer-hover : hsl(64, 80%, 49%);
$color__link__footer-visited : hsl(231, 84%, 50%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 82%, 68%);
$color__link__header-hover : hsl(9, 75%, 43%);
$color__link__header-visited : hsl(22, 100%, 50%);

/* ---------------- FONT */
$color__font-header : rgb(250, 146, 146);
$color__font-main :rgb(235, 202, 193);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);