/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 60%, 2%);
$color__background-body-clip : hsl(0, 0%, 0%);
$color__background-main : hsl(0, 3%, 21%);
$color__background-cours : hsl(0, 2%, 25%);
$color__background-header : hsl(0, 0%, 70%);
$color__background-barre : hsl(0, 0%, 0%);
$color__background-footer : hsl(0, 0%, 17%);
$color__background-link : hsl(0, 0%, 100%);
$color__background-link-hover : hsl(0, 0%, 25%);

/* ---------------- LIENS */
$color__link : hsl(0, 0%, 99%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(0, 0%, 37%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 0%, 100%);
$color__link__footer-hover : hsl(0, 0%, 0%);
$color__link__footer-visited : hsl(0, 0%, 100%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(286, 82%, 68%);
$color__link__header-hover : hsl(320, 75%, 43%);
$color__link__header-visited : hsl(283, 19%, 52%);

/* ---------------- FONT */
$color__font-header : rgb(255, 255, 255);
$color__font-main :rgb(0, 0, 0);
$color__font-main_titre :rgb(255, 255, 255);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);

/*------------------------Recherche*/
$color__recherche: hsl(0, 0%, 0%);

/*---------Bouton lien-------------*/
$color__bouton__color:hsl(0, 0%, 0%);
$color__bouton__background: hsl(0, 0%, 63%);
$color__bouton__color--hover:hsl(0, 0%, 0%);
$color__bouton__background--hover:hsl(273, 56%, 53%);

$color__bouton__color--current:hsl(0, 0%, 100%);
$color__bouton__background--current: hsl(0, 0%, 0%);

