.boite__modale{
    position: fixed;
    top: 25vh;
    left: 25vw;
    border : 5px solid yellow;
    background-color: black;
    width: 50vw;
    height: 50vh;
    transform: scale(0);
    transition: all 1s ease-in-out;
    &__fermeture{}
    &__texte{}
    
}
.ouvrir{

    transform: scale(1); 

}
.cours__desc__ouvrir{
    background-color: $color__Bouton__boite__modale;
    border: 1px solid black;
    outline: none;
}
.cours__desc__ouvrir:hover{
    cursor: pointer;
    background-color: $color__Bouton__boite__modale--hover; 
}