.boite__modale{
    position: fixed;
    
    border : 5px solid black;
    background-color: $color__background-cours;
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    transition: all 1s ease-in-out;
    animation : anim-boite 3s infinite;
    &__fermeture{}
    &__texte{}
    @media screen and (min-width:700px) {
        top: 25vh;
        left: 25vw;
        width: 50vw;
        height: 50vh;
      }
    
}
.ouvrir{

    transform: scale(1); 

}
.cours__desc__ouvrir{
    background-color: $color__Bouton__boite__modale;
    border: 1px solid black;
    outline: none;
}
.cours__desc__ouvrir:hover{
    cursor: pointer;
    background-color: $color__Bouton__boite__modale--hover; 
}
@keyframes anim-boite {
    0% {
        box-shadow: rgb(150, 13, 155) 0px 0px 0px; 
    }
    50%{
        box-shadow: rgb(150, 13, 155) 1px 3px 10px; 
    }
    100% {
        box-shadow: rgb(150, 13, 155) 0px 0px 0px;  
    }
}