/*Scss Pour la boite modale des cours et de la boite carrousel*/
/*Ensemble des caractérisque similaire pour les 2 boites modales*/
.boite__modale, .boite__carrousel{
    position: fixed;
    border : 3px solid black;
    background-color: $color__background-cours;
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    transition: all 1s ease-in-out;
    animation : anim-boite 3s infinite;
    &__fermeture{
        position: absolute;
        width: 30px;
        height: 30px;
        top:5px;
        right: 5px;
        z-index: 1;
        border-radius: 50%;
        border: none;
        &:hover{
            background-color: darkgray;
            cursor: pointer;
        }
    }//Bouton de fermeture de la boite modale
    &__texte{
        width: 80%;
        margin-left:10%;
        margin-top: 10%;
        line-height: 3rem;
        color: white;
    }//Texte de la boite modale des cours
    
    
}
.boite__modale{
    @media screen and (min-width:700px) {
        top: 12.5vh;
        left: 12.5vw;
        width: 75vw;
        height: 75vh;
      }
}
.boite__carrousel{

    @media screen and (min-width:700px) {
        top: 25vh;
        left: 25vw;
        width: 50vw;
        height: 50vh;
        
      }
      &__img {
          position: absolute;
          top: 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
          img {
            position: absolute;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 1s ease-in-out;
            &.img--ouvrir{
                opacity: 1;
            }
        }
      }//balise img pour les images du carrousel
      &__navigation{
          position: absolute;
          width:100%;
          height: 10%;
          bottom: 0;
          z-index: 1;
          display: flex;
          justify-content: center;
          .bouton{
              width: 2rem;
              height: 2rem;
              margin: 5px 10px ;
              bottom:15%;
              border-radius: 50%;
              border: none;
              &:hover{
                cursor: pointer;
                background-color: black;
              }
              
          }
      }//Navigation entre les différentes images du carrousel
}

.ouvrir{
    transform: scale(1); 
}//Ouverture de la boite modale
.cours__desc__ouvrir{
    background-color: $color__Bouton__boite__modale;
    border: 2px solid black;
    outline: none;
}//Bouton pour l'ouverture de la boite modale des cours
.cours__desc__ouvrir:hover{
    cursor: pointer;
    background-color: $color__Bouton__boite__modale--hover; 
}//Hover pour l'affichage du pointeur sur le bouton qui ouvre la boite modale
@keyframes anim-boite {
    0% {
        box-shadow: rgb(150, 13, 155) 0px 0px 0px; 
    }
    50%{
        box-shadow: rgb(150, 13, 155) 1px 3px 10px; 
    }
    100% {
        box-shadow: rgb(150, 13, 155) 0px 0px 0px;  
    }
}//Animation du box-shadow de la boite modale des cours