//---------------------------Page de contenu-----------------------------------

//----------------------------------------------------------Mixin pour les textes-----------------------
@mixin important-text {
    font-size: 1.5rem;
    color: $color__font-main;
    margin: 5px 0px;
  }
.site__main {
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    animation : anim-principal 4s forwards;
}
//---------------------Scss pour les cartes des cours
.formation {
    animation : anim-cours2 2s ease-out;
    display: flex;
    flex-direction: column;
        &__titre {
            font-size: 2rem;
            color: $color__font-main_titre;
            margin: 10px 0px;
            font-family: $font__titre;
        }
        //Lite des cours du TIM et SVG
        &__liste {
            display: flex;
            flex-wrap: wrap;
            .web{background-image: url('https://s2.svgbox.net/octicons.svg?ic=globe-bold');}
            .jeu{background-image: url('https://s2.svgbox.net/materialui.svg?ic=games');}
            .design{background-image: url('https://s2.svgbox.net/materialui.svg?ic=color_lens');}
            .creation-3d{background-image: url('https://s2.svgbox.net/materialui.svg?ic=color_lens');}
            .utilitaire{background-image: url('https://s2.svgbox.net/octicons.svg?ic=tools-bold'); }
            .video{background-image: url('https://s2.svgbox.net/octicons.svg?ic=device-camera-video');} 
        }
        //Boite pour les cours du TIM
        &__cours {
            background-position: 97% 10%;
            background-repeat: no-repeat;
            box-shadow: rgb(150, 13, 155) 2px 4px 15px;
            animation : anim-cours 2s ease-out;
            border-radius: 5px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            &__invisible{
                display: none;
            }
            @media screen and (min-width : $largeur__media--tablette){
                width: 45%;
            }
            @media screen and (min-width : $largeur__media--desktop){
                width: 30%;
            }
            padding: 10px;
        }
}
//Inclure le Mixin
.cours__titre {
    @include important-text;
}
.cours__sigle {
    @include important-text;
}
.cours__description {
    font-size: 1rem; 
}
@keyframes anim-principal {
    0% {
        box-shadow: rgb(150, 13, 155) 0px 0px 0px; 
    }
    100% {
        box-shadow: rgb(150, 13, 155) 2px 4px 15px;  
    }
}
//animation  des carte de cours
@keyframes anim-cours {
    0% {
      transform : translateX(300vh);  
    }
    100% {
        transform : translateX(0);  
    }
}
//animation de la page de cours
@keyframes anim-cours2 {
    0% {
      transform : translateY(300vw);  
    }
    100% {
        transform : translateY(0);  
    }
}
