//---------------FOOTER-----------------

.site__footer {
  display : flex;
  flex-direction: column;
  width: 100%;
  
  &__colonne{ 
    @media screen and (min-width:700px) {
      display : flex;
      justify-content: space-between;
    }
    //Partie 1 du footer divisé en section
    section {
      display : flex;
      flex-direction: column;
      border : 3px solid rgb(0, 0, 0);  
    }
  } 
  //Menu et credit du footer
  &__ligne{
    display : flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__adresse{
    display: none;
    @media screen and (min-width:700px) {
      display : flex;
    }
  }
}
.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;
    &__menu{ // .site__footer__menu
      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          justify-content: center;
          .menu-item { // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;             
            }
          }    
       }
    }
  }

.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}