.galerie{
        width: 55%;
        
        
        

    @media screen and (min-width:$largeur__media--tablette){
        width: 80%;
        display: flex;
        align-items: center;
        
    }
    
}