//-----------------------Menu burger----------------------------
#burger {
    position : absolute;
    transition : transform .5s;
    transform : rotate(0);
    cursor: pointer;
}
#chk-burger {
    display: none;
}
#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principal-container {
    display : none;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
    animation : anim-burger .4s ease-in;
}
//--------------------------------Menu--------------------------
.menu {
    list-style-type: none;
    margin : 0;
    padding :0;
    padding-left: 50px;
        @media screen and (min-width:700px) {
            padding-left: 0px;
        }  
}
.menu-item {
    margin:0;
    padding : 0;
    a {
        display : block;
        text-decoration: none;
        padding : 4px;
        border: 3px solid rgb(107, 4, 102);
        background-color: $color__background-link;
            &:hover {
                background-color: $color__background-link-hover;
            }
    }
}

@media screen and (min-width : $largeur__media--tablette){
    #burger {
        display : none;
    }
    .menu-principal-container {
        display : block;
    }

}
//------------------Animation du menu burger----------------
@keyframes anim-burger {
    0% {
      transform : translateY(-100vh);  
    }
    100% {
        transform : translateY(0);  
    }
}








