.menu-menu_accueil-container,
.menu-evenement-container{
    
    .menu {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        flex-direction: column;
        margin : 0;
        padding :0;
        padding-left: 50px;
        
            @media screen and (min-width:700px) {
                padding-left: 0px;
                flex-direction: row;
                
                &:hover{
                    transform: scale(102%);
                }
            }  
    }       
    .menu-item{
            margin:0 10px;
            margin-bottom: 30px;
            background-color: $color__bouton__background;
            width: 30%;
            
            flex: 0 0 20%;
            &:hover{
                background-color: $color__bouton__background--hover;
            }
            
        
            
            a {
                color: $color__bouton__color;
                display : block;
                text-decoration: none;
                padding : 1px;
                border: 3px solid rgb(107, 4, 102);
                height: 100px;
                
                    &:hover {
                        background-color: $color__bouton__background--hover;
                        
                    }
                    a{
                        color: $color__bouton__color--hover;
                    }
        }
    }
}

